@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 15%;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h4 {
    color: var(--color-cuarto);
}

main {
    display: flex;
    min-height: 80%;
    height: auto;
    width: 100%;
    flex-direction: row;
}



nav, article {
    display: flex;
    flex-direction: column;
}

article {
    justify-content: center;
}

.leftpart {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    max-width: 80%;
}

.leftbox {
    display: flex;
    align-items: center;
}

.leftbox i {
    font-size: 40px;
}


.leftboxcontent {
    padding-left: 10px;
}

.leftboxcontent h4 {
    color: var(--color-secundario);
}

.leftboxcontent p {
    color: var(--color-terciario);
}

aside {
    align-items: center;
    padding-left: 0px ;
    background-color: rgb(161, 161, 161);
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 70em;
}

.rightpart {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    max-width: 80%;
}

.rightbox {
    display: flex;
    flex-direction: column;
}

.progressp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressp h3 {
    padding-left: 10px;
}

.progress {
    width: 80%;
    height: 1.5em;
}

footer {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    height: auto;
    
}
