@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--color-primario), var(--color-primario--rgba));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }

header {
    color: var(--color-cuarto);
    height: 15%;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    min-height: 80%;
    height: auto;
    width: 100%;
    flex-direction: row;
}



nav, article {
    display: flex;
    flex-direction: column;
}


.leftpart {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    max-width: 80%;
}

.leftbox {
    display: flex;
    align-items: center;
}

.leftbox i {
    font-size: 40px;
}


.leftboxcontent {
    padding-left: 10px;
}

.leftboxcontent h4 {
    color: var(--color-secundario);
}

.leftboxcontent p {
    color: var(--color-terciario);
}

aside {
    align-items: center;
    padding-left: 0px ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 2.3fr 5fr;
    grid-template-areas: 
    "section__header"
    "section__main";
    flex-wrap: wrap;
    flex-flow: column;
    width: 60%;
}

.section__information__1 {
    /*background: red;*/ 
    grid-area: section__header;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
    flex-direction: row;
}

.section__information__1>.carousel__item {
    /* flex: 1; */
    min-width: 24%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
.item__progress__bar {
    
    color: var(--color-cuarto);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(
        closest-side, 
        #1d1f38 85%, 
        transparent 85% 100%), 
        conic-gradient(var(--color-quinto) 
        80%, 
        transparent 0);  
    transform: rotate(180deg); 
  }

.progress__value{
    color: var(--color--cuarto);
    display: flex;
    flex-direction: column;
    transform: rotate(180deg); 
}

.section__information__container {
    /* background: #d9ff00; */
    grid-area: section__main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "colum__1 colum__2 colum__3";
}

.information__container {
    /* background: blue; */
    display: flex;
    gap: 5px;
    align-content: center;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: 20px;
}

.information__container div:first-child {
    width: 60%;
    color: var(--color-cuarto);
}

.information__container div:first-child progress {
    width: 100%;
}

.information__container div:last-child {
    /* background: red; */
    color: var(--color-secundario);
    width: 40%;
    display: flex;
    align-items: flex-end;
}


.section__information__2 {
    /* background: blue; */
    grid-area: colum__1;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__1"
        "table__colum__1";
}

.section__information__2 div:first-child {
    /* background: #d9ff00; */
    grid-area: carusel__colum__1;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__2 div:first-child>.carousel__item {
    /* flex: 1; */
    min-width: 48%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__information__2 div:last-child {
    /* background: darkblue; */
    grid-area: table__colum__1;
}

.section__image {
    /* background: orange; */
    grid-area: colum__2;
    display: flex;
    overflow-x: auto;
    align-items: center;
}

.section__image>.carousel__item {
    /* background: violet; */
    text-align: center;
    margin: 0 10px;

}

.section__image>.carousel__item img {
    width: 305px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--color-primario);
}

.section__information__3 {
    /* background: violet; */
    grid-area: colum__3;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__2"
        "table__colum__2";
}

.section__information__3 div:first-child {
    /* background: #d9ff00; */
    grid-area: carusel__colum__2;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__3 div:first-child>.carousel__item {
    /* flex: 1; */
    min-width: 48%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}




.rightpart {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    width: 100%;
    gap: 30px;
    overflow: hidden;
}

.rightbox {
    display: flex;
    flex-direction: column;
}

.rightbox p {
    color: var(--color-cuarto);
}

.progressp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressp h3 {
    color: var(--color-cuarto);
    padding-left: 10px;
}

progress {
    width: 80%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    
}

.footercontainer {
    display: flex;
    width: 57%;
    height: 170px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}


.footerleft {
    display: flex;
    justify-content: center;
    width: 20%;
}

.downleftcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.systemsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 150px;
    background-color: var(--color-cuarto);
    border-radius: 5px;
    transition: 0.5s ease;
}

.systemsdiv:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: var(--color-primario);
}

.systemsdiv:hover p {
    color: #fff;
}

.systemsdiv p {
    color: var(--color-primario);
    font-weight: bold;
}

.cabindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    outline: white solid;
    outline-width: 1px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.cabindiv:hover {
    cursor: pointer;
    scale: 1.1;
}

.cabindiv p {
    color: var(--color-cuarto);
    font-weight: bold;
}

.footerline {
    background-color: var(--color-sexto);
    display: flex;
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
    z-index: -2;
}

.footercenter {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.centericon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
    transition: 0.5s ease;
}

.centericon:hover {
    font-size: 20px;
}

.centericon img {
    transition: 0.5s ease;

}


.centericon img:hover {
    scale: 1.3;
    cursor: pointer;
    color: #01FFF4;
    filter: drop-shadow(5px 5px 5px #9499c3);
}

.centericon p {
    color: var(--color-secundario);
}


.footerright {
    display: flex;
    justify-content: center;
    width: 20%;
}

.information__buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
}

.buttom__paginacion {
    display: inline-block;
}

.buttom__paginacion a {
    color: var(--color-cuarto);
    text-decoration: none;
    float: left;
    padding: 8px 16px;
}

.buttom__paginacion a.activo {
    background-color: var(--color-primario);
    color: var(--color-cuarto);
}

.buttom__paginacion a:hover:not(.activo) {
    background-color: var(--color-primario--rgba);
}