@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }

header {
    height: 15%;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h4 {
    color: var(--color-cuarto);
}

main {
    display: flex;
    min-height: 80%;
    height: auto;
    width: 100%;
    flex-direction: row;
}



nav, article {
    display: flex;
    flex-direction: column;
}

article {
    justify-content: center;
}

.leftpart {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    max-width: 80%;
}

.leftbox {
    display: flex;
    align-items: center;
}

.leftbox i {
    font-size: 40px;
}


.leftboxcontent {
    padding-left: 10px;
}

.leftboxcontent h4 {
    color: var(--color-secundario);
}

.leftboxcontent p {
    color: var(--color-terciario);
}

aside {
    align-items: center;
    padding-left: 0px ;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 60%;
}

.rightpart {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    width: 100%;
    gap: 30px;
    overflow: hidden;
}

.rightbox {
    display: flex;
    flex-direction: column;
}

.rightbox p {
    color: var(--color-cuarto);
}

.progressp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressp h3 {
    color: var(--color-cuarto);
    padding-left: 10px;
}

progress {
    width: 80%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    
}

.footercontainer {
    display: flex;
    width: 55%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}


.footerleft {
    display: flex;
    justify-content: center;
    width: 20%;
}

.downleftcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.systemsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 150px;
    background-color: var(--color-cuarto);
    border-radius: 5px;
}

.systemsdiv p {
    color: var(--color-primario);
    font-weight: bold;
}

.cabindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    outline: white solid;
    outline-width: 1px;
    border-radius: 5px;
}

.cabindiv p {
    color: var(--color-cuarto);
    font-weight: bold;
}

.footercenter {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.centericon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
}

.centericon p {
    color: var(--color-secundario);
}

.footerright {
    display: flex;
    justify-content: center;
    width: 20%;
}